.wrap{width: 100%;
    border:1px solid #000;
    font:14px/28px "宋体";color:#000;
    text-indent:2em;
    -webkit-column-count:3;
    -webkit-column-gap:30px;
    -webkit-column-rule:1px solid #000;}


body ul{ margin: 0; padding: 0;}
ul{ width: 100%; }
li{ list-style:none; width:33.3%; height: 200px; background: red; float: left;
    color: #ffffff; font-size:100px;}